<%=erb :_nav, layout: false%>
<div class="container">
  <h1>Categories</h1>
  <table>
    <tr>
      <th>id</th>
      <th>category</th>
    </tr>

    <% @categories.each do |c| %>
    <tr>
      <td>
        <a href=/category/<%=c.id%>>
          <%=c.id%>
        </a>
      </td>
      <td>
        <a href=/category/<%=c.id%>>
          <%=c.text%>
        </a>
      </td>
    </tr>
    <%end%>
    
  </table>
  
</div>
