<%=erb :_nav, layout: false%>
<div class="container">
  <h1>Posts tagged '<%= @category.text %>'</h1>
  <table>
    <tr>
      <th>id</th>
      <th>title</th>
    </tr>

    <% @category.posts.each do |p| %>
      <tr>
        <td>
          <a href=/post/<%=p.id%>>
            <%=p.id%>
          </a>
        </td>
        <td>
          <a href=/post/<%=p.id%>>
            <%=p.title%>
          </a>
        </td>
      </tr>
    <%end%>
    
  </table>
  
</div>
