<%=erb :_nav, layout: false%>
<div class="container">
  <table>
      
      <tr>
        <td><strong>Category</strong></td>
        <td><%= @post.category.text %></td>
      </tr>
      <tr>
        <td><strong>Title</strong></td>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <td><strong>Description</strong></td>
        <td><%= @post.description %></td>  
      </tr>
      <tr>
        <td><strong>Price</strong></td>
        <td>$<%= @post.price %>.00</td>
      </tr>
      <tr>
        <td><strong>Contact</strong></td>
        <td><%= @post.email %></td>
      </tr>
    </table>
</div>
